.banner-img1{
    background-image: url(./images/banner.png);
    height: 100vh;
    background-repeat: no-repeat;
}

.banner-img2{
    background-image: url(./images/banner2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.banner-img3{
    background-image: url(./images/banner3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.box{
    box-shadow: 0px 0px 40px #3F87F5;
}

.hot{
    margin-top: -10px;
}